<html>

{% csrf_token %}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
{% csrf_token %}

<body>
    {% csrf_token %}
    <span id="qlist">  </span>
    <br/>
    <div id="addcurrentblank"> add </div>
    <span id="q">Q1</span>
    <input type="text" id="qaution">
    <br/> A:
    <input type="text" id="optiona">
    <br/> B:
    <input type="text" id="optionb">
    <br/> C:
    <input type="text" id="optionc">
    <br/> D:
    <input type="text" id="optiond">
    <br/> currect:
    <input type="radio" name="currect" value="a">A
    <input type="radio" name="currect" value="b">B
    <input type="radio" name="currect" value="c">C
    <input type="radio" name="currect" value="d">D
    <br/>
    <a href="/finishcreation">finish</a>
</body>
<script>
    $(document).ready(function() {
        $('span').click(function(event) {
            alert(event.target.id);
        });


        $("#addcurrentblank").click(function() {
            var my_token = '{{ csrf_token }}';
            $.ajax({
                url: "{% url 'getexam' %}",
                type: "POST",

                data: {
                    "csrfmiddlewaretoken": my_token,
                    q: $("#qaution").val(),
                    a: $("#optiona").val(),
                    b: $("#optionb").val(),
                    c: $("#optionc").val(),
                    d: $("#optiond").val(),
                    qnumber: $("#q").text(),
                    currect: $("input[name='currect']:checked").val()
                },
                success: function(response) {
                    $("#qlist").empty();
                    var temp;
                    for (var i = 1; i <= response.qnums; i++) {
                        $("#qlist").append('<span id="' + i + '">Q' + i + '</span>      ');
                        temp = i;
                    }
                    temp = int(temp) + 1;
                    $("#q").text("Q" + temp);
                    $("#qaution").val("");
                    $("#optiona").val("");
                    $("#optionb").val("");
                    $("#optionc").val("");
                    $("#optiond").val("");
                    $("input:radio").attr("checked", false);
                }
            });
        });


    });
</script>

</html>