<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style2.css" />
    <title>Quiz App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    var sec = 10;
    var timer = setInterval(function() {
        $('#countdown').text(sec--);
        if (sec == 0) {
            sec = 10;

        }
        if (sec < 6) {
            $("#countdown").fadeToggle(1000);
            $('#countdown').css('color', 'red');
            $('#countdown').css('border-color', 'red');
        }
        if (sec >= 6) {
            $("#countdown").fadeIn();
            $('#countdown').css('color', 'black');
            $('#countdown').css('border-color', 'black');
        }
    }, 1000);
    function fetchdata() {
        var my_token = '{{ csrf_token }}';
        alert($("#q").text())
        $.ajax({
            url: "{% url 'getqution' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": my_token,
                qid: $("#q").val(),
            },
            success: function(response) {
                $("#q").text(response.qno);
                $("#quests").text(response.question);
                $("#optiona").text(response.optiona);
                $("#optionb").text(response.optionb);
                $("#optionc").text(response.optionc);
                $("#optiond").text(response.optiond);
            }
        });
    }
    $(document).ready(function() {
        setInterval(fetchdata, 10000);

        var my_token = '{{ csrf_token }}';
        $.ajax({
            url: "{% url 'getqution' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": my_token,
                qid: "Q1",
            },
            success: function(response) {
                $("#q").text(response.qno);
                $("#quests").text(response.question);
                $("#optiona").text(response.optiona);
                $("#optionb").text(response.optionb);
                $("#optionc").text(response.optionc);
                $("#optiond").text(response.optiond);
            }
        });



    });
</script>

<body>

    <div class="quiz-container" id="quiz">
        <div align="left" id="countdown" class="numberCircle ">1</div>
        <div class="quiz-header">
            <strong><span class="qnumber2" id="q"></span></strong>
            <h2 id="quests">Question text</h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="a" value="a" class="answer">
                    <label for="a" id="optiona">Question</label>
                </li>

                <li>
                    <input type="radio" name="answer" value="a" id="b" class="answer">
                    <label for="b" id="optionb">Question</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="c" value="c" class="answer">
                    <label for="c" id="optionc">Question</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="d"  value="d" class="answer">
                    <label for="d" id="optiond">Question</label>
                </li>
            </ul>
        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>